<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="CNBlogs" value="https://nuget.cnblogs.com/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="NuGet" value="true" />
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>
